<link rel="stylesheet" type="text/css" href="/css/login.css">

<div id='form-container'>
<form action='/user/create-session' method='post'>
	<div class='form-element'>
		<span>Login</span>
	</div>
	<div class='form-element'>
		<input type='email' placeholder='E-Mail' name='email' required>
	</div>
	<div class='form-element'>
		<input type='password' placeholder="Password" name='password' required>
	</div>
	<div class='form-element'>
		<button>Login</button>
	</div>
</form>
</div>