<link rel="stylesheet" type="text/css" href="/css/login.css">

<div id='form-container'>
<form action='/user/create-user' method='post'>
	<div class='form-element'>
		<span>Signup</span>
	</div>
	<div class='form-element'>
		<input type='email' placeholder='E-Mail' name='email' required>
	</div>
	<div class='form-element'>
		<input type='text' placeholder="Name" name='name' required>
	</div>
	<div class='form-element'>
		<input type='password' placeholder="Password" name='password' required>
	</div>
	<div class='form-element'>
		<input type='password' placeholder="Confirm your Password" name='confirm_password' required>
	</div>
	<div class='form-element'>
		<button>Signup</button>
	</div>
</form>
</div>