div#movie-list{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
div.movie-item{
	width:29%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
div.movie-item div{
	text-align: center;
}
div#message{
	top:0;
	font-size: 1.3rem;
	font-style: italic;
	color: blue;
}
div#circle{
	height: .4rem;
    width: .4rem;
    border: 4px solid black;
    position: relative;
    left: 47%;
    bottom: 2rem;
    border-radius: 50%;
    border-bottom: 3px solid red;
    border-top: 3px solid green;
}
.loader{
	animation: 2s loader infinite alternate;
}
@keyframes loader{
	0%{
		transform:rotate(0deg);
	}
	25%{
		transform:rotate(240deg);
	}
	50%{
		transform: rotate(360deg)
	}
	75%{
		transform: rotate(180deg);
	}
	100%{
		transform:rotate(360deg);
	}
}
main input.searchbar{
	left: 34%;
    position: relative;
    font-size: 1.7rem;
    width: 22rem;
    padding: .8rem;
    box-shadow: 0 0 15px 1px burlywood;
    border-radius: 20px;
    border: 2px solid #4848d4;
    outline: none;
    margin-bottom: 3rem;
}
main input#search_year{
	font-size:1rem;
}

div.movie-left{
 	width:30%;
 	text-align: center;
}
div.movie-left div.movie-name{
	font-size: 1.7rem;
	font-weight: 600;
	color:red;
}

div.movie-right{
	width: 50%;
	position: relative;
	bottom: 4rem;
}
div.movie-right div{
	position: relative;
    /*bottom: 4rem;*/
    /*top:1rem;*/
    font-size: 1.4rem;
    color:blue;
}
div.movie-item div.name-year{
	font-size: 2rem;
}